{{ define "title" }}About{{ end }}

{{ define "description"}}
About the site
{{ end }}

{{ define "main" }}
<h2>About</h2>

<p>Hey there, I'm <a href="https://www.acsq.me" target="_blank" rel="noreferrer">ángel</a> and this is my little actuarial learning site.</p>
<p>this site is to transcribe my notes to something a bit more lasting and useful for other people (+ to practice my <span class="math inline">\(\LaTeX{}\)</span>.)</p>

<h3>Want to contribute?</h3>

<p>You can...</p>
<ul>
  <li><p>give suggestions for the content itself.</p></li>
  <li><p>send in your old notes! as long as it’s legible and easy to read
  through, it’ll make a cool addition to the site.</p></li>
  <li><p>send issues, questions, and wanted features on <a
  href="https://todo.sr.ht/~acsqdotme/slactuaries.net" target="_blank" rel="noreferrer">
  sourcehut</a>.</p></li>
  <li><p>send <a href="https://github.com/acsqdotme/slactuaries.net" target="_blank" rel="noreferrer">
  pull requests</a> or <a href="https://lists.sr.ht/~acsqdotme/slactuaries.net" target="_blank" rel="noreferrer">
  email patches</a> for my dodgy code.</p></li>
  <li><p>get in touch and share your thoughts.</p></li>
</ul>

<p>Reach out through <a
href="https://github.com/acsqdotme/slactuaries.net" target="_blank" rel="noreferrer">github</a>, <a
href="https://sr.ht/~acsqdotme/slactuaries.net" target="_blank" rel="noreferrer">sourcehut</a>, or plain
old email: <a href="mailto:angel@acsq.me">angel@acsq.me</a>.</p>

<h3>Licenses</h3>
<p>Code for this site is under the <a
href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank" rel="noreferrer">
Affero General Public License 3.0</a> and articles are under the <a
href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noreferrer">
Creative Commons Attribution Share Alike 4.0 International</a>.</p>
{{ end }}
