{{ define "title" }}WELCOME TO SLACTUARIES{{ end }}
{{ define "description"}}
Actuarial learning site
{{ end }}

{{ define "main" }}
<div class="landing-page">
  <span class="landing-message">This is slactuaries.net,<br />the coolest actuarial math site.</span>

  <span>
    <details class="landing-page-update-time">
      <summary><span class="flashing-cursor">Last site edit: <time datetime={{ .GitDate }}>{{ .GitPrettyDate }}</time></span></summary>
      <pre>{{ .GitMessage }}

      <a href="https://git.sr.ht/~acsqdotme/slactuaries.net/commit/{{ .GitHash }}" target="_blank" rel="noreferrer">{{ .GitHash }}</a>
      <address>Author:	{{ .GitAuthorName }} &lt;{{ .GitAuthorEmail }}&gt;
      {{ with .GitAuthorGPG }}Signed:	{{ . }}{{ end }}</address></pre>
    </details>
  </span>
</div>
{{ end }}
