{{ define "title" }}What is Actuarial Science{{ end }}

{{ define "description"}}
A gist on what an actuary is.
{{ end }}

{{ define "main" }}
<h2>What is AS</h2>



<p>An actuary is basically someone </p>

<blockquote cite="">
  <p>"What's the difference between an actuary and an accountant?</p>

  <p>An accountant looks at your shoes when speaking to you.</p>

  <p>An actuary looks at his own shoes when speaking to you."</p>

  <footer style="font-style: italic;">
    - <cite>Chinese Proverb</cite>
  </footer>

</blockquote>

<p>this site it to transribe my notes to something a bit more lasting for useful for other people (+ to practice my latex.)</p>
{{ end }}
