{{ define "main" }}
  <article>
  {{template "article" . }}
  </article>

  {{ block "prevNextLinks" .Tree }}
    <nav class="prevNext">
      {{ with .Prev }}
      <span class="prev">
        &lt;-<a href="{{ .URLPath }}">{{ .FileName }}</a>
      </span>
      {{ end }}
      {{ with .Next }}
      <span class="next">
        <a href="{{ .URLPath }}">{{ .FileName }}</a>-&gt;
      </span>
      {{ end }}
    </nav>
  {{ end }}
  <a href="{{ .Path }}.md">[View Markdown]</a>
  <a href="{{ .Path }}.pdf">[View Printable PDF]</a>

  <p>
    Improve on <a href="https://git.sr.ht/~acsqdotme/slactuaries.net">Sourcehut
    <picture>
      <source srcset="/static/logos/sourcehut-white.svg" media="(prefers-color-scheme: dark)" />
      <source srcset="/static/logos/sourcehut.svg" media="(prefers-color-scheme: light)" />
      <img src="/static/logos/sourcehut.svg" alt="sourcehut circle" style="max-width: 1em;vertical-align: middle; display: inline;" />
    </picture></a>
    or online through
    <a href="https://github.com/acsqdotme/slactuaries.net/edit/master/{{ .Tree.FilePath }}.md">Github
    <picture>
      <source srcset="/static/logos/github-mark-white.svg" media="(prefers-color-scheme: dark)" />
      <source srcset="/static/logos/github-mark.svg" media="(prefers-color-scheme: light)" />
      <img src="/static/logos/github-mark.svg" alt="github squid" style="max-width: 1em;vertical-align: middle; display: inline;" />
    </picture></a>
  </p>
  {{ template "edited" . }}
{{ end }}
