{{ define "main" }}
  <article>
  {{template "article" . }}
  </article>

  {{ block "prevNextLinks" .Tree }}
    <nav class="prevNext">
      {{ with .Prev }}
      <span class="prev">
        &lt;-<a href="{{ .URLPath }}">{{ .FileName }}</a>
      </span>
      {{ end }}
      {{ with .Next }}
      <span class="next">
        <a href="{{ .URLPath }}">{{ .FileName }}</a>-&gt;
      </span>
      {{ end }}
    </nav>
  {{ end }}
  <a href="{{ .Path }}.md">[View Markdown]</a>
  <a href="{{ .Path }}.pdf">[View Printable PDF]</a>
  {{ template "edited" . }}
{{ end }}
