@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,800;1,200;1,400;1,700&display=swap');

:root {
  --txt-color: #000000;
  --content-bg-color: #FFFFFF;
  --html-bg-color: #D0D3D4;
  --shadow-color: rgb(119, 119, 119);
  --msoe-red: #C5050C;

  --mode-icon: url('/static/icons/moon.svg');
}

/* .light and .dark classes makes switching v ez; read about it here:
 * www.albertovarela.net/blog/2022/07/implementing-light-dark-mode/ */
@media (prefers-color-scheme:dark) {
  :root {
    --txt-color: #FFFFFF;
    --content-bg-color: #292e33;
    --html-bg-color: #1b1f22;
    --shadow-color: #23292e;
    --mode-icon: url('/static/icons/sun.svg');
  }

  .light body {
    --txt-color: #000000;
    --content-bg-color: #FFFFFF;
    --html-bg-color: #D0D3D4;
    --shadow-color: rgb(119, 119, 119);
    --mode-icon: url('/static/icons/moon.svg');
  }
}

.dark body {
  --txt-color: #FFFFFF;
  --content-bg-color: #292e33;
  --html-bg-color: #1b1f22;
  --shadow-color: #23292e;
  --mode-icon: url('/static/icons/sun.svg');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  font-size: max(14pt, 100%);
  max-width: 80rem;
  margin: 1em auto;
  background-color: var(--html-bg-color);
  color: var(--txt-color);
  padding: 0 1em;
  line-height: 1.4;
}

.container {
  padding: 2rem;
  background-color: var(--content-bg-color);
  box-shadow: 0 0 0.7rem var(--shadow-color);
}

main {
  padding: 3rem;
}

address {
  font-style: normal;
  display: inline;
}

header {
  padding: 1rem;
  padding-left: 2.35rem;
  margin-bottom: 2rem;
  border-left: 0.85rem solid var(--msoe-red);
  border-top: 0.35rem solid var(--msoe-red)
}

.topheader {
  margin-bottom: 2rem;
}

h1 {
  margin: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  opacity: 60%;
}

nav a:hover {
  opacity: 1;
}

.topheader span {
  color: rgb(156, 156, 156);
  font-weight: 100;
}

a {
  color: var(--txt-color);
}

h2 {
  border-right: 5px solid var(--msoe-red);
  border-bottom: 2px solid var(--msoe-red);
}

.topbar {
  display: grid;
  grid-template-columns: 1fr 1.5rem;
}

.light-dark-container {
  position: relative;
}

#light-dark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0.125rem;
  padding: 0;
  border: none;
  cursor: pointer;
}

.light-dark-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0.125rem;
  background-color: var(--txt-color);
  -webkit-mask: var(--mode-icon) no-repeat 0 0/1.25rem 1.25rem;
  mask: var(--mode-icon) no-repeat 0 0/1.25rem 1.25rem;
}

.landing-page {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.landing-message {
  font-weight: 800;
  font-size: 4rem;
}

details:not(.landing-page-update-time) {
  margin-top: 4rem;
}

summary {
  cursor: pointer;
}

.intro-par {
  margin-bottom: 3rem;
}

li {
  list-style: none;
}

li:not(:last-child) {
  margin-bottom: 2rem;
}

details pre {
  margin-left: 1rem;
  opacity: 50%;
}

blockquote {
  font-style: italic;
  font-weight: 200;
  padding-left: 3rem;
}

.container > footer {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 4rem;
}

.container > footer a {
  color: white;
}
